@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  background: lightblue;
}

header .container {
  display: flex;
  align-items: center;
  max-width: 1200px; /* widened for responsiveness */
  margin: 0 auto;
  border-bottom: 2px solid darkblue;
}

header a {
  color: #333;
  text-decoration: none;
}

.container a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.container a:hover {
  color: darkblue;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  margin-right: 20px;
}

nav a,
nav button {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.content {
  max-width: 1200px; /* widened for responsiveness */
  margin: 0 auto;
  padding: 20px;
}

/* Menu */
.food-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
}

.food-card {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.food-card:hover {
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.food-card h2 {
  font-size: 20px;
  color: darkblue;
  margin-bottom: 8px;
}

.food-card p {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  background: darkblue;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.food-card button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 150px;
  /* Set a fixed height for the image container */
}

.food-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintain the aspect ratio and cover the container */
  border-radius: 8px;
}
